/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        bink:         #ff3450
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000
        blue:               rgba(40, 103, 222, 0.8)
============================================ */
:root {
    --shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2);
}


html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
strong
{
    font-weight: 700;
}

section {
    background: #fff;
    overflow: hidden;
}
/* =========================================
                Content Boxes
============================================ */

.content-box-lg {
    padding: 120px 0;
}
.content-box-md {
    padding:100px 0;
}

/* =========================================
                Events
============================================ */

.section-title {
    text-align: center;
    padding: 1em 0 0.4em;
    font-weight: 300;
    font-size: 2.25em;
}

.section-mark {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 1.6em;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #ff3450;
    margin: 0 auto 3em;
    position: relative;
}

.section-mark::before,
.section-mark::after {
    content: "";
    display: block;
    border-bottom: 5px solid #ff3450;
    position: absolute;
    top: 12px;
    width: 75px;
}

.section-mark::before {
    left: -70px;
}

.section-mark::after {
    left: 25px;
}

.section-mark > * {
    font-size: 80%;
}

.carousel-container {
    position: relative;
}

.slides {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.event-img img {
    height: auto;
    width: 120%;
    object-fit: none;
    object-position: 50% 50%;
    display: block;
}

.event-info {
    background-color: #ff3450;
    padding: 6em 4em 2em;
}

.event-title {
    color: #fff;
    font-size: 1.5em;
}

.event-info p {
    color: #f4f4f4;
    margin: 1em 0 2em;
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
}

.event-meta {
    color: #fff;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
    font-size: 85%;
}

.event-meta span:last-child {
    grid-column: span 2;
}

.speakers {
    position: relative;
    margin: 3em 0;
}

.speakers-text {
    color: #ff3450;
    background-color: #fff;
    padding: 0.4em 0.8em;
    font-weight: bold;
    width: 300px;
    font-size: 85%;
}

.speakers-images {
    position: absolute;
    top: -10px;
    left: 120px;
    width: 180px;
    display: flex;
}

.speakers-images img {
    width: 100%;
    margin-right: 0.6em;
    border: 1px solid #fff;
    box-shadow: var(--shadow);
}

.join-list {
    display: flex;
    align-items: center;
}

.share-icons .icon {
    text-decoration: none;
    color: #fff;
    border-radius: 1px; 
    margin: 0.1em;
    
}

.owl-controls {
 	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.owl-prev, .owl-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.owl-prev {
    left: 0;
}

.owl-next {
	right: 0;
}

.owl-prev:hover, .owl-next:hover {
    color: rgb(40, 103, 222);
}
